extends layout

block content
  h1 Bem-vindo ao sistema!
  if usuario
    p Olá, #{usuario}! Você está logado.
  else
    p Faça login para acessar as áreas restritas.
  
  .sobre-section
    h2 Sobre
    p Este projeto é uma API RESTful desenvolvida em Node.js como parte do desafio da disciplina de Desenvolvimento Back-End.
    p aplicação permite o gerenciamento de clientes, produtos e usuários, utilizando banco de dados MySQL, autenticação com JWT, e Node-Cache de dados para otimização de requisições. Além disso, o sistema conta com testes automatizados utilizando Jest, garantindo a confiabilidade das funcionalidades implementadas. 